body{
    background-color: darkgrey
}
/* https://coolors.co/a9cef4-36494e-000000-7ea0b7-597081 */
header {
    font-size: 64px;
    text-align: center;
    background-color: #7EA0B7;
}
th{
    text-align: left;
    background-color: #A9CEF4;
    font-size: 20pt;
}
th:first-child{
    border-right: 2px solid;
}
tfoot{
    text-align: left;
    
}
table, th, td{
    border-bottom: 2px solid;
    text-align: left;
    margin-top: 30px;
    border-collapse: collapse;
    padding-right: 10px;
    
    
}
td{
    padding: 10px;
    font-size: 14pt;
}
td:last-child,th:last-child{
border-left: 2px solid;
}
table{
    align-content: center;
    width: 700px;
}
tr:hover{
    background-color: #36494E;
}
td:first-child{
    background-color: #A9CEF4;
    font-weight: bold;
    border-right: 2px solid;
}
tr:nth-child(even){
    background-color: #597081;
}
